@import "style.scss";

$HeaderColor: #f6a3b4;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

%btnStyle {
  background-color: transparent;
  border: 1px solid #266DB6;
  
  color: #00132C;
  
  line-height: 5px;
  padding: 15px 15px;
  position: relative;
  text-decoration: none;
  user-select: none;  
  touch-action: manipulation;

  &:hover:active{
    outline: 0;
  };

  &:hover {
      background-color: transparent;
      cursor: pointer;
    };

    &:before {
        background-color: #9191ff;
        content: "";
        height: calc(100% + 3px);
        position: absolute;
        right: -5px;
        top: -7px;
        transition: background-color 200ms ease-in;
        width: 100%;
        max-width: 1200px;
        z-index: -1;
      };

      &:hover:before {
          background-color: transparent;
        };     
}


.mainWrapper{
  display: flex; 
  flex-direction: column; 

  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.outlet{
  width: 100%;
  padding:75px 25px 20px 25px;

  box-shadow: rgb(0 0 0 / 12%) 0px 2px 4px 0px inset;
  @media (max-width: 500px) {
    padding:75px 9px 0 9px;
  }
 
  
}


.headerWrapper{
  padding: 0 25px;
  background-color: $HeaderColor;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0);
  width: 100%;  
  height: 70px;  

  .headerContent{
    margin: auto;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 930px;
  }  

  .headerLogo{
    border: 1px solid #266DB6;;
    border-radius: 50%;
    img{
      height: 55px;
      width: 55px;
      transform: translate(4px,2px);
      transition: all 0.2s ease;
      &:hover{transform: scale(1.3)}
    }  
    overflow: hidden;  
    
  }

  .header_btnMenu{
    text-transform: uppercase;
    display: inline-flex;
    column-gap: 30px;


    button {
      text-transform: uppercase;
      @extend %btnStyle
    }    
  };

  @media (max-width: 500px) {
    .header_btnMenu{column-gap: 10px;
      button {
        padding: 10px 5px;
      } 
    }   
  }
  
}


//FORM=====================================
.formWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form{
    display: inline-flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 16px;
   

    @media (max-width: 500px) {
      row-gap: 10px;
    }
  }  
  button{
    @extend %btnStyle;
    padding: 10px;
  }
}
 

.form__field{
  border: none;
  border-bottom: 2px solid $HeaderColor;
  width: 80px;

  &:focus{
    outline:none
  }
}
.form__label{
  font-weight: 400;
  font-size: 15px;
  margin-right: 10px;
  color:$gray
}

.form__select {
  border: none;
  border-bottom: 2px solid #f6a3b4;
  outline: none;
  cursor: pointer;
  width: 80px;
  height: 20px;
  background-color: transparent;
}

// Charakters ===================

.charactersWrapper{
  
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center  ;
  padding:20px 0;
  width: 100%;

  a{
    background-color:#fff;
    width: 31%;
    min-width: 290px;
    margin: 7px;
    &:hover{      
      transform: scale(1.2);
    }
    transition: all 0.2s ease;
  }
  
}

.btnDiv{
  width: 100%;
  margin: 20px 0;
  display: inline-flex;
  justify-content:center;
  align-items:center;
  gap: 30px;
  button{
    @extend %btnStyle
  }
}

.single_characterWrapper{
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  max-height: 100px;
  .img{   
    border-radius: 8px;    
  }
 
  
}

.characterTittle{
  font-family: 'Coming Soon';
  color:#266DB6;
  padding: 10px;
  text-align: left;

  h2{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
  }

  span{   
    width: 100%;
    text-align: right;
    font-size: 14px;
    font-weight: 400px;
    text-transform: lowercase;
  }
}


// episode ==============
.episodeWrapper{
  font-family: 'Coming Soon', cursive;
  padding: 7px;
  border-radius: 8px;
  color: #266DB6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
   rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
}

// ========================character episodes

.singleCharacterEpisodes{
  font-family: 'Coming Soon', cursive;
  display: flex;
  justify-content:space-between;
  padding: 5px;

  img{
    max-width: 200px;
    min-width: 150px;
    border-radius: 8px;
    min-height: 150px;
    max-height: 200px;
  }
}

.singleCharacterEpisodes_infoBlock{
  padding: 5px;
  width: 70%;

  h3{
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    min-width: 130px;
  }
  @media (max-width: 500px) {
   h3{margin: 0;font-size: 20px; }

  }
}

.orignDiv{
  margin: 7px 0;
}

.episodesCharacter{
  margin-top:10px;
    h2{
    font-family: 'Coming Soon', cursive;
    }
}


.episode_infoBlock{
  text-align: center;
  font-family: 'Coming Soon', cursive;
  h2{
    font-size: 28px;
  }

}
